h1 {
    text-align: center;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
}

.marker {
    height: 25px;
    width: 200px;
    margin: 10px auto;
}

.cap {
    width: 60px;
    height: 25px;
}

.sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 50%);
    border-left: 10px double rgba(0, 0, 0, 0.75); 
}

.cap, .sleeve {
    display: inline-block;
}

.red {
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    box-shadow: 0 0 20px 0 red;
}

.green {
    background: linear-gradient(180deg, #55680D, #71F53E, #116C31); 
    box-shadow: 5px 5px 5px #3B7E20CC;
}

.blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 20px 0 hsla(223, 59%, 31%, 0.8);
}

/*linear-gradient(90deg, rgb(255, 0, 0) 75%, rgb(0, 255, 0), rgb(0, 0, 255)).  
linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27)).*/

